@use 'src/styles/variables.scss' as *;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: $font-family;
  color: $primary-text-color;
  background-color: $background-color;
}

.container {
  max-width: 1440px;
  width: 100%;
  margin: 20px auto;
  padding: 0 20px;
  box-sizing: border-box;
  position: relative;
  min-height: 100vh;

  @media (max-width: $tab-size) {
    padding: 0;
    margin: 0 auto;
  }
}

