$primary-color: #172339;
$secondary-color: #172339;
$primary-text-color: #172339;
$secondary-text-color: #FFFFFF;
$muted-text-color: #454F61;
$background-color: #ffffff;
$font-family: 'Montserrat', sans-serif;
