$primary-color: #172339;
$secondary-color: #172339;
$primary-text-color: #172339;
$secondary-text-color: #FFFFFF;
$muted-text-color: #454F61;
$background-color: #F5F5F5;
$card-color: #ffffff;
$border-color: #DADCDF;
$font-family: 'Montserrat', sans-serif;

$tab-size: 768px;
$mobile-size: 360px
